* {
	box-sizing: border-box;
}

h2 {
	font-weight: lighter;
	padding-bottom: 1em;
	font-weight: 600;
	padding-bottom: .5em;
}

// MASTHEAD

.name {
	color: #0000ff !important;
}

h1.title {
	font-weight: 800;
	margin-bottom: 0px;
	text-align: left;
	line-height: 1em;
}

h2.subtitle {
	font-weight: 100;
	font-size: 1.4rem;
	margin-top: 0;
}

p.emphasis {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.5em;
}

p {
	font-weight: 300;
	line-height: 1.5em;
}

.masthead.ui.vertical.segment{
	display: flex;
	// background-image: url("/img/hero-duo.jpg");
	align-items: center;
	background-size: cover;
	height: 10%;
	margin-top:10em;
}

.intro{
	text-align: left;
}

.ui.vertical.segment{
	border-radius: 0px;
	padding: 3em 0em;
	box-shadow: none;
	border: none;
	border-bottom: none;
}



.ui.grid>.column:not(.row), .ui.grid>.row>.column{
	padding-bottom: 1rem;
}

