* {
	box-sizing: border-box;
}


h1{
	text-align:  center;
}

.intro p{
	font-size: 1.25em;
}

h2{
	font-weight: lighter;
	padding-bottom: 1em;
}

.masthead.ui.vertical.segment{
	display: flex;
	text-align: center;
	background-image: url("/img/hero.jpg");
	align-items: center;
	background-size: cover;
	height: 65%;
}


.intro{
	text-align: center;
}

.ui.vertical.segment{
	border-radius: 0px;
	padding: 4em 0em;
	box-shadow: none;
	border: none;
	border-bottom: none;
}

.bg-lightgrey {
	background-color:  #f7f7f7 !important;
}


